li {
    list-style: none;
    margin-left: 0.4em;
}

.btn-name {
    border: none;
    background: none;
    font-size: 1em;
    font-weight: 600;
}

.btn-name:hover {
    cursor: pointer;
}

.chart-list-container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data-chart {
    margin-top: 1em;
}

.main-container {
    margin-top: 1.5em;
}